@import "../../theme/vars/colors"
@import "../../theme/mixins/headlines"

.character-card
  background-color: $white
  border-radius: 10px
  color: $dark
  display: flex
  flex-direction: column
  overflow: hidden
  width: calc(50% - 7px)
  &-header
    background: $gray
    padding: 10px
    text-align: center
    &.gryffindor
      background: $error
      background: linear-gradient(90deg, $error 0%, $error-light 100%)
    &.slytherin
      background: $success
      background: linear-gradient(135deg, $success 0%, $success-light 100%)
    &.hufflepuff
      background: $warning
      background: linear-gradient(159deg, $warning 0%, $warning-light 100%)
    &.ravenclaw
      background: $info
      background: linear-gradient(159deg, $info 0%, $info-light 100%)
    &-avatar
      border-radius: 50%
      height: 80px
      width: 80px
  &-body
    padding: 10px
    &.bg-dead
      background-color: $gray
    &-title
      text-align: center
    &-info
      display: none
      line-height: 8px
    &-additional-info
      display: flex
      align-items: center
      color: $gray-dark
      .col
        width: 50%
        &.info
          display: flex
          flex-direction: column
        &.favorite
          text-align: right
          color: $dark







//@media (min-width: 576px)
@media (min-width: 768px)
  .character-card
    width: calc(50% - 10px)

@media (min-width: 992px)
  .character-card
    flex-direction: row
    &-header
      display: flex
      align-items: center
      justify-content: center
      width: 40%
      &-avatar
        height: 150px
        width: 150px
    &-body
      padding: 20px
      flex: 1
      display: flex
      flex-direction: column
      &-title
        text-align: left
        order: 2
        margin: 10px 0
        @include headline-5()
      &-info
        display: block
        order: 3
      &-additional-info
        order: 1
        .col
          &.info
            flex-direction: row
            & span
              &:after
                content: "/"
                margin: 4px
              &:last-child
                &:after
                  content: ""


@media (min-width: 1200px)
  .character-card
    width: calc(50% - 25px)


