.container-character-list
  display: flex
  width: 100%
  grid-gap: 10px
  gap: 10px
  flex-wrap: wrap


//@media (min-width: 576px)
@media (min-width: 768px)
  .container-character-list
    grid-gap: 20px
    gap: 20px

@media (min-width: 992px)
  .container-character-list
    max-width: 900px
    margin: auto

@media (min-width: 1200px)
  .container-character-list
    max-width: 1000px
    grid-gap: 50px
    gap: 50px
